<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="resell.shoes.RShoes.repository.OrderRepository">

    <resultMap id="order" type="resell.shoes.RShoes.entity.Order_shoes">

        <id column="ono" property="orderNo"/>
        <result column="status" property="status"/>
        <result column="payment" property="payment"/>
        <result column="date" property="orderDate"/>
        <association property="buyUser">
            <id column="uno" property="userNo"/>
        </association>
        <association property="orderShoes">
            <id column="sno" property="shoesNo"/>
        </association>
        <association property="orderDelivery">
            <id column="dno" property="deliveryNo"/>
        </association>
        <association property="orderPay">
            <id column="pano" property="payNo"/>
        </association>

    </resultMap>

    <resultMap id="orderDTO" type="resell.shoes.RShoes.dto.OrderGetDTO">

        <id column="ono" property="orderNo"/>
        <result column="name" property="shoesName"/>
        <result column="sno" property="shoesNo"/>
        <result column="price" property="price"/>
        <result column="size" property="size"/>
        <result column="date" property="date"/>
        <result column="status" property="status"/>

    </resultMap>

    <insert id="insertOrder">

        INSERT INTO order_shoes(sno, dno, uno, pano, payment,status)
        VALUES(#{orderShoes.shoesNo}, #{orderDelivery.deliveryNo}, #{buyUser.userNo}, #{orderPay.payNo}, #{payment},#{status})

    </insert>

    <select id="findByShoes" resultMap="order">

        SELECT o.*
        FROM order_shoes o
        WHERE o.sno = #{shoesNo}

    </select>

    <select id="findByOrder" resultMap="order">

        SELECT *
        FROM order_shoes o
        WHERE o.ono = #{orderNos}

    </select>

    <select id="findByUserId" resultMap="orderDTO">

        SELECT o.ono, s.name, s.sno, s.price, s.size, o.date, o.status
        FROM order_shoes o
        INNER JOIN shoes s
        ON o.sno = s.sno
        WHERE o.uno = #{userNo}

    </select>

    <update id="modifyStatus">
        UPDATE order_shoes
        SET
        status = #{refund}
        WHERE ono = #{orderNo}


    </update>

</mapper>